*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.header_section{
    background-image: url("images/bg-image-6-1.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 70%;
   width: 100%;
   /* animation: image  500s infinite; */
}
/* @keyframes image{
    0%{
        background-image: url("images/bg-image-6-1.jpg");
    }
    50%{
        background-image: url("images/couple-with-arms-crossed_23-2147993416.jpg");
    }
} */
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0px;
    height: 10vh;

}
li{
    list-style: none;
}
.logo{
    color: white;
    
}
.nav-link{
    display: flex;
    gap: 30px;
list-style: none;
font-size: 17px;
color: white;
}
a{
    text-decoration: none;
    color: white;
}
.con-btn{
    padding: .5rem 1.5rem;
    border: 2px solid white;
    color: white;
    border-radius: 50px;
    background-color: transparent;
}
.hamburger{
    display: none;
}
.hero-text{
    width: 500px;
    position: absolute;
    top: 50%;
    left: 20%;
    z-index: 0;

}
.hero-text h1{
     color: white;
     font-size: 45px;
     text-align: left;
}
.hero-text p{
color: white;
}
.book-btn{
    padding:.8rem 2rem;
    border-radius: 8px;
    margin-top: 1.5rem;
    background-color: black;
    display: inline-block;
    color: white;

}
.services{
    text-align: center;
    padding: 5rem 0px;
 

}
.services-btn{
    background-color: #dddddd;
    display: inline-block;
    padding: .4rem 1.5rem;
    border-radius: 30px;
    color: rgb(29, 29, 29);
    margin-bottom: 2rem;
}
.services h1{
    font-size: 40px;
    margin-bottom: 3rem;
    color: black;
}
.services-container{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 280px;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, .2);
 height: 280px;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 padding: 1rem 2rem;
 border-radius: 4px;
}
.card img{
    color: red;
}
.services-card{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.about-container{
    width: 100%;
    padding: 5rem 0px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    background-color: #3375ec;
}
.about-left img{
    width: 600px;
    height: 500px;
    object-fit: cover;
    border-radius: 8px;
}
.about-right{
    padding: 4rem 0px 0px 3rem;
}
.about-btn{
    background-color: lightblue;
    padding: .4rem 1.5rem;
    border-radius: 30px;
    color: #3375ec;
    border: none;
    outline: none;
}
.about-right h1{
    margin: 1rem 0px;
    color: white;

}
.about-right p{
    color: white;
    margin-bottom: 12px;
  
}
.about-right li{
    color: white;
    margin-left: 1rem;
    margin-bottom: .6rem;
}
.read-btn{
    padding:.8rem 2rem;
    border-radius: 8px;
    margin-top: 1.5rem;
    background-color: white;
    display: inline-block;
    color: black;
}

.us-container{
    width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0px;
  gap: 5rem;
  flex-wrap: wrap;
}
.left-us{
    padding: 4rem 0px 0px 3rem;
   
}
.left-us .why{
    background-color: lightblue;
    padding: .4rem 1.5rem;
    border-radius: 30px;
    color: #3375ec;
    border: none;
    outline: none;
}
.left-us h2{
    margin: 1rem 0px;
    color: black;
    font-size: 30px;
}
.left-us p {
    margin-bottom: 20px;
}
.right-us img{
    width: 600px;
    height: 450px;
    object-fit: cover;
    border-radius: 8px;
}
.flyer{
    background-image:linear-gradient(rgba(14, 12, 12, 0.171),rgba(27, 25, 25, 0.144)), url("images/bg-image-4.jpg");
    background-size: cover;
    width: 100%;
    height: 60vh;
}
.text{
    float: right;
    margin-top: 10rem;
    margin-right:10rem;;
}
.text .flyer-btn{
    background-color: lightblue;
    padding: .4rem 1.5rem;
    border-radius: 30px;
    color: #3375ec;
    border: none;
    outline: none;
    display: inline-block;
}
.text h2{
    font-size: 30px;
    color: white;
    margin: .5rem 0px;
}
.text h2 span {
    color: #3375ec;
}
.text p{
    color: white;
}
.gallery{
    padding:.8rem 2rem;
    border-radius: 8px;
    margin-top: 1.5rem;
    background-color: white;
    display: inline-block;
    color: black;
}
.team-text{
    text-align: center;
    margin-top: 3rem;
}
.team{
    background-color: lightblue;
    padding: .4rem 1.5rem;
    border-radius: 30px;
    color: #3375ec;
    border: none;
    outline: none;
    display: inline-block;
}
.team-text h1{
     color: black;
  
     margin-top: 1rem;
     font-size: 35px;
}
.team-text p{
   margin-bottom: 3rem;
}

.agent{
    width: 100%;
    /* height: 70vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 4rem;
}
.agent-1{
    position: relative;
    width: 320px;
    height: 400px;

}
.agent-2{
    position: relative;
    width: 320px;
    height: 400px;
   
}
.agent-3{
    position: relative;
    width: 320px;
    height: 400px;
}
.agent-container-1{
    width: 300px;
    height: 400px;
    background-image: url("/images/agent.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   /* background-position-x: 60%; */
   background-position: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 8px;
    overflow: hidden;
    /* background-size: 100% 100%; */
}
.one-1{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    right: -100%;
    transition: 1.5s;

}
.one-1 div{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    white-space: nowrap;
}
.one-1 div p{
    color: white;

}
div h1{
    color: white;
    font-family: 'Domine', serif;
}
.two-1{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ddd;
    transition: 1.5s;
    right: -100%;
}
.agent-container-1:hover .one-1{
 right: 0;
}
.agent-container-1:hover .two-1{
    right: 100%;
}
.agent-container-2{
    width: 300px;
    height: 400px;
    background-image: url("/images/2.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position-x: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 8px;
    overflow: hidden;
    /* background-size: 100% 100%; */
}
.one-2{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    right: -100%;
    transition: 1.5s;

}
.one-2 div{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    white-space: nowrap;
}
.one-2 div p{
    color: white;

}
h1{
    color: white;
    font-family: 'Domine', serif;
}
.two-2{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ddd;
    transition: 1.5s;
    right: -100%;
}
.agent-container-2:hover .one-2{
 right: 0;
}
.agent-container-2:hover .two-2{
    right: 100%;
}
.agent-container-3{
    width: 300px;
    height: 400px;
    background-image: url("/images/3.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position-x: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 8px;
    overflow: hidden;
    /* background-size: 100% 100%; */
}


.one-3{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    right: -100%;
    transition: 1.5s;

}
.one-3 div{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    white-space: nowrap;
}
.one-3 div p{
    color: white;

}
h1{
    color: white;
    font-family: 'Domine', serif;
}
.two-3{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ddd;
    transition: 1.5s;
    right: -100%;
}
.agent-container-3:hover .one-3{
 right: 0;
}
.agent-container-3:hover .two-3{
    right: 100%;
}

.partner{
    width: 100%;
    padding: 5rem 0px;
    background-color: #3375ec;
    text-align: center;
}
.partner-btn{

    background-color: lightblue;
    padding: .4rem 1.5rem;
    border-radius: 30px;
    color: #3375ec;
    border: none;
    outline: none;
    display: inline-block;
}
.partner-text h1{
     color: white;
     margin-bottom: 3rem;
     margin-top: 1rem;
     font-size: 35px;
}
.partner-images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    flex-wrap: wrap;
}
.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
  padding: 5rem 0px 3rem 0px;
    flex-direction: column;
    gap: 3rem;
    background-color: white;
    width: 100%;
}
.inner-container{
    display: flex;
    justify-content: center;
    gap: 4rem;
    /* align-items: center; */
    width: 100%;
    /* flex-direction: column; */
    padding: 3rem 0rem;
    flex-wrap: wrap;
}
.footer-logo{
    margin-right: 3rem;
}
.footer-logo h3{
  font-size: 1.45rem;
  margin-bottom: 1.5rem;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
}
.footer-logo p{
    color: gray;
  font-family: 'Nunito Sans', sans-serif;

}
.footer-logo p:hover{
    color: black;
}
.footer-about{
    list-style: none;
}
.footer-about h3{
   color: black;
   margin-bottom: 12px;
  font-size: 1.35rem;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
}
.footer-about li{
    margin-bottom: 1rem;
  font-family: 'Nunito Sans', sans-serif;
  color: gray;

}
.footer-about li:hover{
    color: black;
}
.company{
    list-style: none;
}
.company h3{
   color: black;
   margin-bottom: 12px;
  font-size: 1.35rem;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
}
.company li{
    margin-bottom: 1rem;
  font-family: 'Nunito Sans', sans-serif;
  color: gray;

}
.company li:hover{
    color: black;
}
.support{
    list-style: none;
}
.support h3{
   color: black;
   margin-bottom: 12px;
  font-size: 1.35rem;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
}
.support li{
    margin-bottom: 1rem;
  font-family: 'Nunito Sans', sans-serif;
      color: gray;
}
.support li:hover{
    color: black;
}
.follow h3{
    color: black;
    margin-bottom: 12px;
   font-size: 1.35rem;
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 800;
}
.follow box-icon{
    margin-left: 12px;
}
.footer-sec{
    font-family: 'Nunito Sans', sans-serif;
        color: gray;
}
@media(max-width:850px){
    .contact{
        display: none;
    }
    .logo{
        z-index: 2;
     color: black;

    }
    .hamburger{
        display: block;
        z-index: 1;
        
        font-size: 25px;
    }
    .nav-menu{
        position: absolute;
        background-color: white;
        color: black;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 80vh;
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .25);
        transform: translateY(-110%);
        z-index: 1;
        transition: transform 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000);

    }
    .nav-link{
        flex-direction: column;
        font-size: 18px;
        color: black;

    }
    a{
        text-decoration: none;
        color: black;
    }    
    .active{
        transform: translateY(0%);
        transition: transform 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000);
      
    }
    .about-container{
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: center;
    }
    .right-us img{
        width: 500px;
        height: 400px;
    }
    .about-left img{
        width: 400px;
        height: 400px;
        object-fit: cover;
    }
    .flyer{
        background-position-x: 20%;
    }
    .text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 0px;
        padding: 2rem;
    }

}

@media(max-width:550px){
.hero-text{
    left: 5%;
   width: 100%;
  margin-right: 12px;

}
a{
    text-decoration: none;
    color: black;
}
.header_section{
    background-position-x: 70%;
    background-position: cover;
}
.right-us img{
    width: 300px;
    height: 300px;
}
.about-left img{
    width: 300px;
    height: 300px;
    object-fit: cover;

}

}