*{
    margin: 0;
    padding: 0;
}
.header{
    padding-top: 15px;
    height: 90vh;
    background-image: url("images/bg-image-6-1.jpg");
    background-size:cover;
 margin-bottom: 50px;
 background-repeat: no-repeat;
 
 background-position-x: -264px;

 
 
}
.logo{
    font-size: 30px;
    color: white;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 77px;
    padding-right: 77px;
}
nav ul {
    margin-right: 260px;
}
nav ul li{
    display: inline-block;
    margin-right: 18px;
    color: white;
}
.sign{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 6px 25px;
    border-radius: 40px;
}
.row{
    display: flex;
    justify-content :start;
    align-items: center;
}

.left{
    margin: 238px 6px 4px 205px;
}
.left h2{
    font-size: 55px;
    /* width: 100px; */
/* letter-spacing:  20px; */
color: white;
}

.left::after{
    content: '';
    width: 100px;
    height: 4px;
    background-color: white;
    position:absolute;
    bottom: 57%;
    left: 7%;

}
.left  p{
    color: white;
}
.button{
    display: flex;
    margin-top: 20px;
    margin-right: 30px;
}
.btn{
    display: inline-block;
     color: rgb(0, 0, 0);
     margin-right: 20px;
     background-color: rgb(255, 255, 255);
     padding: 18px 32px;
     border-radius: 60px;
     margin-left: 0px;
}
.btn:hover{
    background-color: #3375ec;
    color: white;
}
.btn-1{
    /* display: inline-block; */
     color: white;
     margin-right: 28px;
     background-color: #3375ec;
     padding: 18px 32px;
     border-radius: 60px;
}
.btn-1:hover{
    background-color: #dc3545;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.sr {

    display: inline-block;
    padding: 6px 28px;
    background-color: #a0b1cc;
    color: black;
    border-radius: 20px;
    color: #3375ec;
}
.title{
    display: flex;
    justify-content: center;
    font-size: 45px;
    font-weight: lighter;
    margin-bottom: 50px;
}
.title p{
    font-size: 50px;
    font-weight: lighter;
}
.row-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding-left: 30px ;
    padding-right: 50px;
    width: 96%;
 
}
.row-1-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding-left: 50px ;
    padding-right: 20px;
    width: 96%;
    margin-bottom: 100px;
}
.item{

 margin-right: 20px;
 border-radius: 7px;
 background-color: white;
 box-shadow: 21px 23px 40px 27px rgba(59, 59, 59, 0.1);
 flex-basis: 30%;
height: 280px;
}
.box{
position: relative;
top: 20%;
left: 15%;
width: 200px;
padding-left: 20px;
padding-right: 2px;

}
.box{
    text-align: center;
}

.box li{
    font-size: 50px;
    color: #3375ec;
}
.box h2{
    text-align:center;
    font-size: 25px;
}
.box p{
    text-align: center;padding-left: 12px;
}
.blue{
    width: 100%;
    height: 80vh;
    background-color: #3375ec;
    padding: 70px 0px 50px 0px;
}
.row-2{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.col-1 img{
  margin-left: 40px;
  /* width: 600px;
  height: 400px; */
  border-radius: 15px;

}

.col-2{
    margin-left: 155px;
    margin-top: -120px;
   
}
.about{
    display: inline-block;
    padding: 6px 28px;
    background-color: #acaeaf;
    color: black;
    border-radius: 20px;
    color: #3375ec;
    margin-bottom: 10px;
    margin-left: -80px;
}
.word{
    font-size: 45px;
    margin-left: -80px;
    color: white;
    margin-bottom: 12px;
}
.p{
    font-size: 20px;
    color:white;
     margin-left: -80px;margin-bottom: 12px;
}
 .col-2 ul li{
    color: white;
    font-size: 20px;
    margin-left: -80px;
}
.rd{
    display: inline-block;
    padding: 18px 35px;
    background-color: white;
    color: black
    ;
    margin-left: -80px;
    margin-top: 30px;
    border-radius: 50px;
}
.white{
    width: 100%;
    height: 80vh;
    padding: 40px 0px 40px 0px;
}
.col-4 img{
   padding-right: 66px;
   
    border-radius: 15px;
  
  }
.col-3{
    margin-left: 155px;
    margin-top: -120px;
   
}
.why{
    display: inline-block;
    padding: 6px 28px;
    background-color: #acaeaf;
    color: black;
    border-radius: 20px;
    color: #3375ec;
    margin-bottom: 10px;
    margin-left: -80px;
}
.words{
    font-size: 45px;
    margin-left: -80px;
    color: rgb(7, 6, 6);
    margin-bottom: 12px;
}
.p-1{
    font-size: 20px;
    color:rgb(0, 0, 0);
     margin-left: -80px;margin-bottom: 12px;
}
 .col-3 ul li{
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-left: -80px;
}

.conulting{
    background: url("images/bg-image-4.jpg");
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -67px;
    margin-bottom: 50px;
}

.row-3{
    display: flex;
    justify-content: right;
}
.project{
    margin-left: 765px;}

    .what{
        display: inline-block;
        padding: 6px 28px;
        background-color: #dddddd;
        color: black;
        border-radius: 20px;
        color: #3375ec;
        margin-bottom: 10px;
        /* margin-left: -80px; */
    }
    .browser{
        font-size: 35px;
        /* margin-left: -80px; */
        color: rgb(253, 253, 253);
        margin-bottom: 12px;
    }
.browser span{
    color: #3375ec;
}
.p-2{
    font-size: 20px;
    color:rgb(252, 251, 251);
     /* margin-left: -80px; */
     margin-bottom: 12px;
}
.gallery{
    display: inline-block;
    background-color: white;
    color:rgb(0, 0, 0);
    padding: 12px 30px;
    border-radius: 50px;
}
.all{
    padding: 50px 0px 0px 50px;
    height: 70vh;
  

}
.column{
  display: flex;
  justify-content: space-evenly;
  padding-left: 88px;
  padding-right: 88px;
  margin-bottom: 50px;
}
.card{
    box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.15);
    padding-bottom: 90px;
    margin-right: 12px;
   
}
.card img{
    border-radius:5px ;
}
.title-1{
    color: white;
    font-size: 12px;
}
.text{
    text-align: center;
    margin-top: 20px;
   
}
.name{
    font-size: 22px;
}

.image{
    display: flex;
    justify-content: center;
}
.sr-1{
    display: inline-block;
    padding: 6px 28px;
    background-color: #a0b1cc;
    color: black;
    border-radius: 20px;
    color: #3375ec;
}
.title-1{
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-weight: lighter;
    margin-bottom: 50px;
}
.all-1{
    height: 40vh;
    background-color: #3375ec;
    padding: 60px 0px 0px 0px;
    margin-bottom: 60px;
}
footer{
width: 100%;
padding-bottom: 50px;
padding-top: 50px;
}
.footer-row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 77px;
    padding-right: 77px;
}

.ft-logo h1{
    font-size: 35px;
margin-bottom: 17px;
}
.ft-btn{
    margin-top: 12px;
    display: inline-block;
    padding: 5px 16px;
    background-color: white;
    color: black;
    border-radius: 40px;
    border: 2px solid gray;
}
.Who-We-Are{
    margin-top: -25px;
}
.Who-We-Are h2{
    margin-bottom: 25px;
    font-weight: lighter;
}
.Who-We-Are ul{
    list-style: none;
}
.Who-We-Are ul li{
    margin-top: 10px;
}

.Quick-links h2{
    margin-bottom: 25px;
    font-weight: lighter;
}
.Quick-links ul{
    list-style: none;
}
.Quick-links li{
    margin-top: 10px;
}
.featured {
    margin-left: -50px;
 
}
.featured ul{
list-style: none;
margin-top: 45px;

}
.featured ul li{
padding-bottom: 12px;
}
.get-in-touch h2{
 margin-bottom: 50px;
}
.icon{
    margin-top: 12px;
}
.icon ul li{
  
    /* width: 22px; */
    text-align: center;
    padding: 7px 13px 8px 13px;
  border-radius: 79%;
  font-size: 17px;
}

#tw{
background-color: #63c9eb;
color: #ffffff;
}
#fb{
    background-color: #4970bf;
    color: #ffffff;
}
#ln{
    background-color: #63c9eb;
color: #ffffff;
}
.second-ft{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    border-top: 2px solid gray;
}