*{
    margin: 0;
    padding: 0;
}
.header_section{
    background-image: url("images/bg-image-6-1.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
   width: 100%;

  
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem ;
    height: 10vh;

}
.logo{
    color: white;
    
}
.nav-link{
    display: flex;
    gap: 30px;
list-style: none;
font-size: 17px;
color: white;
}
.con-btn{
    padding: .5rem 1.5rem;
    border: 2px solid white;
    color: white;
    border-radius: 50px;
    background-color: transparent;
}
.hamburger{
    display: none;
}
.hero-text{
    width: 500px;
    position: absolute;
    top: 50%;
    left: 20%;
    z-index: 0;

}
.hero-text h1{
     color: white;
     font-size: 45px;
     text-align: left;
}
.hero-text p{
color: white;
}
.book-btn{
    padding:.8rem 2rem;
    border-radius: 8px;
    margin-top: 1.5rem;
    background-color: black;
    display: inline-block;
    color: white;

}
.services{
    text-align: center;
    padding: 5rem 0px;
 

}
.services-btn{
    background-color: #dddddd;
    display: inline-block;
    padding: .4rem 1.5rem;
    border-radius: 30px;
    color: rgb(29, 29, 29);
    margin-bottom: 2rem;
}
.services h1{
    font-size: 40px;
    margin-bottom: 3rem;
}
.services-container{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 280px;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, .2);
 height: 280px;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 padding: 1rem 2rem;
 border-radius: 4px;
}
.card img{
    color: red;
}
.services-card{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.about-container{
    width: 100%;
    padding: 5rem 0px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    background-color: #3375ec;
}
.about-left img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 8px;
}
.about-right{
    padding: 4rem 0px 0px 3rem;
}
.about-btn{
    background-color: lightblue;
    padding: .4rem 1.5rem;
    border-radius: 30px;
    color: #3375ec;
    border: none;
    outline: none;
}
.about-right h1{
    margin: 1rem 0px;
    color: white;

}
.about-right p{
    color: white;
    margin-bottom: 12px;
    width:500px;
}
.about-right li{
    color: white;
    margin-left: 1rem;
    margin-bottom: .6rem;
}
.read-btn{
    padding:.8rem 2rem;
    border-radius: 8px;
    margin-top: 1.5rem;
    background-color: white;
    display: inline-block;
    color: black;
}
@media(max-width:850px){
    .contact{
        display: none;
    }
    .logo{
        z-index: 2;
     color: black;

    }
    .hamburger{
        display: block;
        z-index: 1;
        
        font-size: 25px;
    }
    .nav-menu{
        position: absolute;
        background-color: white;
        color: black;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 80vh;
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .25);
        transform: translateY(-110%);
        z-index: 1;
        transition: transform 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000);

    }
    .nav-link{
        flex-direction: column;
        font-size: 18px;
        color: black;

    }
    .active{
        transform: translateY(0%);
        transition: transform 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000);
      
    }
    .about-container{
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: center;
    }

}

@media(max-width:550px){
.hero-text{
    left: 5%;
   width: 100%;
  margin-right: 12px;

}
.header_section{
    background-position-x: 70%;
    background-position: cover;
}

}